/* -------------- */
/* Header Styling */
/* -------------- */

.question-header {
  border-block-end: 1px solid var(--surface4);
}

.question-nav {
  inline-size: min(90%, 1400px);
  margin-inline: auto;
  padding-block: 1.2rem;
}

.question-nav__list {
  align-items: center;
}

.question-nav__items--timer {
  margin-inline: auto;
  font-weight: bold;
}

.question-nav__end {
  block-size: 35px;
  padding-inline: 15px;
}

/* ------------ */
/* Main Section */
/* ------------ */

.question-main {
  block-size: 100vh;
}

.question-main__wrapper {
  inline-size: 100%;
  margin-inline: auto;
  grid-template-columns: 1fr;
  position: relative;
  align-items: start;
  gap: 0.5rem;
}

.question-info {
  grid-template-rows: auto 1fr auto;
  min-block-size: 100vh;
}

.question-info__question {
  line-height: 1.1;
  margin-block-start: 0.3rem;
  font-size: 1rem;
}

.question-info__number {
  opacity: 0.8;
}

.question-info__top {
  background-color: var(--surface3);
  box-shadow: 0 5px 6px rgba(0, 0, 0, 20%);
  padding-block: 1rem;
  padding-inline: 0.5rem;
  align-items: center;
}

.choices__item {
  background-color: var(--surface4);
}

.question-action__wrapper {
  inline-size: min(90%, 1000px);
  margin-inline: auto;
  justify-content: space-between;
  margin-block-start: 0.5rem;
  padding-block-end: 0.5rem;
}

.choice__list {
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.question-action__next {
  block-size: 35px;
  padding-inline: 20px;
  margin-inline: auto;
}

.question-info__bottom {
  margin-block-start: auto;
}

.question-action__next {
  display: block;
}

.question-info__menu {
  flex: 0;
  cursor: pointer;
}

.question-info__menu > span {
  color: white;
}

.choices__item--selected > button {
  color: var(--surface2);
}

.refrence {
  align-self: center;
  position: relative;
}

.reference__next {
  display: none;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  margin-inline-end: 1rem;
  background-color: var(--brand);
}

.question-info__questions {
  flex: 1;
  margin-inline: auto;
  display: block;
}

.choices__item > button {
  color: var(--light-clr);
  inline-size: 100%;
  block-size: 100%;
  text-align: left;
  display: inline-block;
  padding-block: 1.5rem;
  padding-inline: 0.6rem;
}

.choices__item:nth-of-type(1) {
  background-color: var(--clr-success);
}

.choices__item:nth-of-type(2) {
  background-color: var(--clr-danger);
}

.choices__item:nth-of-type(3) {
  background-color: var(--clr-warning);
}

.choices__item:nth-of-type(4) {
  background-color: var(--clr-secondary);
}

.choices__item.choices__item--selected {
  background-color: var(--brand);
}

.question-info__timer {
  padding-inline: 1rem;
}

.question-info__timer > meter {
  inline-size: 100%;
  block-size: 30px;
  border: none;
}

.question-info__number {
  font-size: 0.8rem;
  font-weight: 100;
  opacity: 0.6;
}

@media (max-width: 299px) {
  .question-action__next {
    block-size: 35px;
  }
}

@media (min-width: 600px) {
  .question-info__top {
    background-color: var(--surface3);
    padding-block: 1.8rem;
    padding-inline: 0.7rem;
  }

  .choices__item > button {
    padding-block: 1.8rem;
    padding-inline: 0.9rem;
  }

  .refrence__wrapper > img {
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}

@media (min-width: 900px) {
  .choice__list {
    gap: 1rem;
  }

  .question-info {
    gap: 3rem;
  }

  .question-info__question {
    font-size: 1.8rem;
    margin-block-start: 0;
    margin-inline: auto;
    max-inline-size: 50ch;
  }

  .question-info__questions {
    display: flex;
    align-items: center;
  }

  .choices__item > button {
    padding-block: 3rem;
    padding-inline: 0.9rem;
  }

  .question-action__next {
    display: none;
  }

  .reference__next {
    display: block;
  }

  .question-info__number {
    font-size: 1.5rem;
  }
}

@media (min-width: 1000px) {
  .question-info__top {
    background-color: var(--surface3);
    padding-block: 2rem;
    padding-inline: 0.8rem;
  }

  .question-info {
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
  }

  .question-action__wrapper {
    inline-size: 100%;
  }

  .choices__item > button {
    padding-block: 2.5rem;
    padding-inline: 1rem;
  }

  .question-action__wrapper {
    display: none;
  }

  .refrence__wrapper {
    max-inline-size: 50ch;
    margin-inline: auto;
  }

  .question-info {
    gap: 1rem;
  }

  .choice__list {
    gap: 0.2rem;
  }

  .question-info__question {
    font-size: 1.5rem;
  }
}
