.footer {
  background-color: var(--surface4);
  color: var(--text1);
  padding-block: 2rem;
  text-align: center;
}

.footer__wrapper {
  inline-size: min(90%, 1000px);
  margin-inline: auto;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.footer__list--links {
  flex-direction: column;
}

.footer__list--socials {
  align-items: center;
  justify-content: center;
}

.footer__logo {
  font-size: var(--fs-700);
  color: var(--brand);
}

@media (min-width: 600px) {
  .footer__wrapper {
    grid-template-columns: max-content 1fr;
    text-align: left;
    align-items: center;
    gap: 2rem;
  }

  .footer__list--links {
    flex-direction: row;
    margin-inline-start: auto;
  }

  .footer__list--socials {
    grid-column: 1 / -1;
    justify-content: end;
  }
}
