/* Global Styles */
:root {
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

html {
  scroll-behavior: smooth;
}

.material-black {
  color: black;
}

.header {
  grid-template-columns: 1fr;
}

.novaq-wrapper {
  grid-template-columns: 1fr;
  gap: 7rem;
}

@media (max-width: 299px) {
  .material-black {
    font-size: 1.5rem !important;
  }
}
